In [5]:
number = 0
break_all = False
for i in range(5):
    for j in range(5):
        print(f"(i = {i}, j={j})")
        if i == 2 and j == 3:
            number = i*j
            break_all = True
            break
        if break_all:
            break
print(number)

(i = 0, j=0)
(i = 0, j=1)
(i = 0, j=2)
(i = 0, j=3)
(i = 0, j=4)
(i = 1, j=0)
(i = 1, j=1)
(i = 1, j=2)
(i = 1, j=3)
(i = 1, j=4)
(i = 2, j=0)
(i = 2, j=1)
(i = 2, j=2)
(i = 2, j=3)
(i = 3, j=0)
(i = 4, j=0)
6

In [7]:
rows = 10  

for i in range(1, rows + 1):
    spaces = " " * (rows - i)     
    stars = "*" * (2 * i - 1)     
    print(spaces + stars)

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [9]:
### 사용자로 부터 n개의 별의 갯수를 입력받은 뒤
# 별을 출력할되 별의 갯수만큼만 출력하다가 별이 다 소진되면 멈추는 코드작성
n = 30
star = 0
break_all = False  #충첩 for문을 탈출 할 용도로 사용하는 친구

for i in range(1, 10+1):
    for j in range(i):
        star += 1
        if star > n:
            break_all = True
            break
        print('*', end="")
    if break_all:
        break
    print()

*
**
***
****
*****
******
*******
**

In [11]:
# 1. 별을 찍는 함수 만들기
def print_stars(n):
    rows = 10        # 피라미드 최대 줄 수 (원하는 값으로 바꿀 수 있음)
    count = 0        # 지금까지 출력한 별 갯수

    for i in range(1, rows + 1):
        spaces = " " * (rows - i)        # 왼쪽 공백
        stars = "*" * (2 * i - 1)        # 이번 줄에서 출력할 별

        # 만약 이번 줄을 찍으면 n을 초과한다면
        if count + len(stars) > n:
            # 남은 별만큼만 출력하고 종료
            stars = "*" * (n - count)
            print(spaces + stars)
            break

        # 별 출력
        print(spaces + stars)

        # 지금까지 출력한 별 개수 기록
        count += len(stars)


# 2. 프로그램 시작 부분
# 사용자에게 별 갯수를 입력받음
n = int(input("출력할 별의 총 갯수를 입력하세요: "))

# 3. 입력받은 값으로 함수 실행
print_stars(n)

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  *

In [12]:
my_str = "Hello, Python"

In [13]:
my_str[7]

'P'

In [14]:
my_str[-1]

'n'

In [15]:
len(my_str)

13

In [16]:
my_str[12]

'n'

In [17]:
# 문자열 데이터의 여러가지 기능들

my_str.lower()

'hello, python'

In [18]:
my_str.upper()

'HELLO, PYTHON'

In [21]:
words = my_str.split('l')
print(words)

['He', '', 'o, Python']

In [23]:
fruits = ["apple", "banana", "grape", "orange", "melon"]

In [24]:
fruits.pop(1)

'banana'

In [25]:
fruits

['apple', 'grape', 'orange', 'melon']

In [26]:
fruits.sort()

In [27]:
fruits

['apple', 'grape', 'melon', 'orange']

In [29]:
for i in fruits:
    print(i)

apple
grape
melon
orange

In [30]:
fruits.extend(["Shine Muscat"])

In [31]:
fruits

['apple', 'grape', 'melon', 'orange', 'Shine Muscat']

In [36]:
for i in range(len(fruits)):
    print(f"{i}번째 과일 {fruits[i]}")

0번째 과일 apple
1번째 과일 grape
2번째 과일 melon
3번째 과일 orange
4번째 과일 Shine Muscat

### 반복문을 이용해서 리스트를 간단하게 생성 가능 -> 리스트컴프리헨션

In [37]:
numbers = [1,2,3,4,5,6,7,8,9,]

In [44]:
numbers = [i+1 for i in range(10)]

In [45]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
# 어려운 버전
num_list = []
for i in range(10):
    # print(i)
    num_list.append(i)
num_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
numbers = [i for i in range(1, 10+1) if i %2 == 0]
numbers

[2, 4, 6, 8, 10]

In [55]:
numbers = [i*2 for i in range(1, 10+1)]
numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [56]:
numbers = [i**2 for i in range(1, 10+1)]
numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [59]:
marks = [90,25, 67, 45, 80]
for i in range(len(marks)):   # i는 0부터 시작
    score = marks[i]

    if score >= 60:
        print(f"{i+1}번 학생 합격입니다.")
    else:
        print(f"{i+1}번 학생 불합격입니다.")

1번 학생 합격입니다.
2번 학생 불합격입니다.
3번 학생 합격입니다.
4번 학생 불합격입니다.
5번 학생 합격입니다.

In [66]:
print("끝말잇기 게임")
print("시작!")

word = "가나다"   # 첫 번째 단어
print("첫 단어:", word)

while True:
    next_word = input("다음 단어를 입력하세요: ")

    # 끝말잇기 규칙 확인 (앞 단어의 마지막 글자 == 새 단어의 첫 글자)
    if word[-1] == next_word[0]:
        print("통과!")
        word = next_word  # 이어진 단어로 갱신
    else:
        print("땡")
        break

끝말잇기 게임
시작!
첫 단어: 가나다
통과!
통과!
통과!
땡

In [73]:
numbers = [1, 1, 3, 3, 0, 1, 1]

answer = []
comp = numbers[0]
answer.append(comp)

for i in numbers:
    if comp != i:
        comp = i
        answer.append(comp)

answer

[1, 3, 0, 1]

In [75]:
def num_min(arr):
    answer = arr[0]
    for i in arr:
        if answer > i:
            answer = i
    return answer

In [79]:
def add_mul(choice, *args):
    # print(choice, args)
    # 여기에 코드를 작성해주세요!!!
    if choice == 'add' :
        result = 0
        for i in args:
            result += i
    elif choice == 'mul' :
        result = 1
        for i in args:
            result *= i
    else:
        print('연산자 종류 확인 요망!!!')
        result = None
    return result

In [80]:
add_mul('mul', 1,2,3)

6

In [81]:
def add_and_mul(a, b):
    return a+b, a*b

In [82]:
add_and_mul(3,4)

(7, 12)

In [83]:
def say_myself(name, age, man):
    print(f'{name}, {age}')
    if man:
        print('남성')
    else:
        print('여성')

In [88]:
say_myself('장원영', age = 30, man=True)

장원영, 30
남성